RP_STORAGE_CONTRACT_ADDRESS="CHANGEME"
TREASURER_ADDRESS="CHANGEME"
ADMIN_MULTISIG="CHANGEME"
NODESET_SERVER_ADMIN="CHANGEME"
NODESET_ADMIN="CHANGEME"
ADMIN_SERVER="CHANGEME"
ADMIN_ORACLE="CHANGEME"
SANCTIONS_LIST_ADDRESS="0x40C57923924B5c5c5455c48D93317139ADDaC8fb"
WETH_ADDRESS="0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
CHAIN_ID="1"
DEPLOYER_PRIVATE_KEY_PATH="path/to/deployer.txt"
DIRECTORY_DEPLOYER_PRIVATE_KEY_PATH="path/to/directory-deployer.txt"
